.container
  .row
    .col-lg-4
      = image_tag("images/joel_headshot.jpg")
      %img.circle{ src: "joel_headshot.jpg" }
    .col-lg-6
      %h2
        Joel C. Doyle
      %p.lead
        Web Developer
